# psycopg2-binary usado para conectar con Postgres en contenedores
Django==5.1.1
gunicorn
psycopg2-binary
Pillow
django-tailwind
django-browser-reload
django-alpine
django-redis
django-extensions
pymongo
dnspython
django-seed
django-altcha
django-cors-headers
tqdm
mongoengine
django-htmx