{% extends "app/base-old.html" %}

{% block title  %}
    Registrar
{% endblock  %}

{% load static %}
{% block content %}

{% block clase_body %}background{% endblock %}

<section>
    <div class="registro-container">
      <img src="{% static "/img/logo-proyecto.png" %}" alt="logo proyecto" class="login-logo" />
      <h2>Registro de Usuario</h2>

      <form action="{% url "createRegistroUsuario" %}" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" id="nombre" placeholder="Nombre:*" required />
        <input type="text" name="last_name" id="apellido" placeholder="Apellido:*" required />
        <input type="text" name="username" id="username" placeholder="Nombre usuario:*" required />
        <input type="password" name="password" id="password" placeholder="Contraseña:*" required />
        <input type="email" name="email" id="email" placeholder="Email:*" required />
        <button type="submit">Registrarme</button>
      </form>

      <div class="login-link">
        Ya tengo cuenta <a href=" {% url "login" %}">Iniciar sesión</a>
      </div>
    </div>
</section>
{% endblock %}
